<div id="botonera" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4" *ngIf="router.url !== '/simon'">
  <div class="botonito btn-verde" routerLink="/inicio">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Inicio
  </div>
  <div class="botonito" routerLink="/educacion" style="filter: hue-rotate(0deg);">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Educacion
  </div>
  <div class="botonito btn-azul" routerLink="/certificaciones">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Certificaciones
  </div>
  <div class="botonito btn-azul" routerLink="/habilidades">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Habilidades
  </div>
  <div class="botonito btn-azul" routerLink="/experiencia">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Experiencia
  </div>
  <div class="botonito btn-azul" routerLink="/proyectos">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Proyectos
  </div>
  <div class="botonito btn-verde" routerLink="/inicio">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Contacto
  </div>
</div>