<footer class="d-flex flex-wrap justify-content-between align-items-center border-top" style="margin: auto">
  <table class="table" style="margin: auto">
    <tr class="row text-center" style="align-items: baseline">
      <td class="col-md-4 text-light">
        <span >kriox3 & Tsidkenu Producciones © 2022</span>
      </td>
      <td class="col-md-4 text-light">
        <a href="/inicio" class="link-dark text-decoration-none">
          <img src="/assets/img/APlogo.png" alt="Argentina Programa" title="Argentina Programa" width="110px" />
        </a></td>
      <td class="col-md-4 text-light">
        <a href="https://tsidkenu.ga" target="_blank" class="link-dark text-decoration-none">
          <span class="link-dark text-decoration-none text-light">Conoce nuestra empresa</span>
        </a></td>
    </tr>
  </table>
</footer>