<section style="display: block" id="simon" class="mt-3">
  <div class="container alert" style="background-color: #ffffff1e; border-radius: 20px" role="alert">
    <div class="row vh-md-100">
      <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center" id="cuerpo">
        <h1 class="heading-black text-light">
          Usuarios
        </h1>

        <table class="table table table-hover text-light" style="vertical-align: middle;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">Usuario</th>
              <th scope="col">Rol</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of listaSimon; let i= index">
              <th scope="row">{{i+1}}</th>
              <td>{{dato.nombre}}</td>
              <td>{{dato.email}}</td>
              <td>{{dato.nombreUsuario}}</td>
              <td>
                <span *ngFor="let roles of dato.roles; let i= index" class="d-block">
                  <span *ngIf="roles.rolNombre == 'ROLE_ADMIN'">Administrador</span>
                  <span *ngIf="roles.rolNombre == 'ROLE_USER'">Usuario</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <app-simon-listar *ngIf="modifica"></app-simon-listar>

    </div>
  </div>
</section>