.accordion-body.editDelete{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.accordion-body.editDelete.buttons{
    display: flex;
    align-items: left;
    justify-content: space-between;

}

.miModal{
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}